<div class="row">
    <div class="col-lg-12 text-center">
        Available users
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    Available users
                </strong>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr style="font-weight: bold">
                            <td>Username</td>
                            <td>Roles</td>
                            <td>Action</td>
                    </tr>
                        <tr ng-repeat="user in users">
                            <td>{{user.username}}</td>
                            <td>{{user.roles}}</td>
                            <td><a ng-click="deleteUser(user)">Delete</a></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>